body{
    margin: 15% 0 0 0;
    justify-content: center;
    background-color: purple;
}

#loader{
    position: relative;
    height: 300px;
    width: 300px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(60deg);
    margin: auto;
}


#loader span{
    position: absolute;
    display: block;
    border: 5px solid  #fff;
    box-shadow: 0 5px 0 #ccc,
    inset 0 5px 0 #ccc;
    box-sizing: border-box;
    border-radius: 50%;
    animation: animate 3s ease-in infinite;
 }
 
 
@keyframes animate{
    0% , 100%{
        transform: translateZ(-100px);
    }
    50%{
        transform: translateZ(100px);
    }
}
