body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .box {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box img {
    height: 150vh;
    width: 150vw;
    animation: rotate 0.00001s infinite ease-in;
  }
  
  